.divBackground{
    height: fit-content;
    background-color: white;
    border-radius: 30px;
    padding: 3vh;
    margin-bottom: 2vh;
    display: grid;
}
.divBackground:hover{
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.062);
}
.divBackground span{
    width: 8vh;
    height: 8vh;
    border-radius: 100%;
    margin: auto;
    background-color: whitesmoke;
    background-size: cover;
}
.divBackground h1{
    margin: 0;
    position: absolute;
    margin-left: 1vh;
    font-size: 4vh;
    font-weight: 500;
    color: #efefef;
}
.divBackground p:nth-of-type(1){
    width: 100%;
    text-transform: capitalize;
    text-align: center;
    margin: 3vh 0 0 0;
    font-weight: 500;
    letter-spacing: .3px;
    font-size: 3vh;
}
.divBackground p:nth-of-type(2){
    width: 100%;
    font-size: 2vh;
    margin: 0;
    color: #c2c2c2;
    text-align: center;
}
.divBackground img{
    width: 3vh;
    height: 3vh;
    margin: auto;
}
.divBackground img:nth-of-type(1){
    margin-right: 0vh;
}
.divBackground img:nth-of-type(2){
    margin-left: 2vh;
    margin-right: 2vh;
}

#btnDeleteUser{
    background-color: rgb(206, 25, 25);
    color: white;
    align-items: center;
    margin: 2vh 0vh ;
    padding: 1.5vh;
    border-radius: 20px;
}
.divBackground #btnEditUser{
    padding: .5vh;
    color: #c2c2c2;
}