.sectionGeneral{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 35% auto;
    position: absolute;
}

.asideExbForm{
    min-width: 50vh;
    height: fit-content;
    margin: auto;
    display: block;
}
.asideExbForm h1{
    font-size: 5vh;
}
.asideExbForm h2{
    width: 80%;
    font-size: 2vh;
    margin-top: 1vh;
}
.asideExbForm h1, h2{
    width: 100%;
    text-align: center;
    font-weight: 500;
    margin: 0;
}
.asideExbForm button{
    width: 80%;
    height: fit-content;
    border-radius: 7px;
    border: 1px solid #111727;
    color: #111727;
    margin: 3vh auto auto auto;
    display: flex;
    grid-gap: 5px;
    font-weight: 500;
    padding: 1vh 0vw;
}
.asideExbForm button img{
    margin: auto 1vw auto auto;
}
.asideExbForm button p{
    margin: auto auto auto 0vh;
}
.asideExbForm span{
    width: 80%;
    height: 1px;
    background-color: #dfdfdf;
    display: flex;
    margin: 5vh auto auto auto;
}
.asideExbForm span div{
    width: fit-content;
    margin: auto;
}
.asideExbForm span p{
    text-align: center;
    margin: -1.5vh 0vw 0vh -1vw;
    background-color: white;
    padding: 0vh 1vw;
    position: absolute;
    color: #a6a6a6;
    font-size: 2vh;
}

.asideExbForm div{
    width: 100%;
    height: fit-content;
    display: grid;
    grid-gap: 3vh;
    margin-top: 7vh;
}
.asideExbForm div input{
    width: 80%;
    height: 3vh;
    margin: auto;
    border-bottom: 1px solid #dfdfdf;
    padding-bottom: 1vh;
}
.error{
    font-size: 2vh;
    margin: -2vh 0vh 0vh 5vh;
    color: rgb(197, 18, 18);
}
#btn-login{
    width: 80%;
    height: fit-content;
    background-color: #111727;
    color: white;
    text-align: center;
    padding: 1.5vh 0vw;
    display: list-item;
    font-weight: 400;
    letter-spacing: .5px;
    border-radius: 7px;
    cursor: pointer;
}


.asideExbDecoration{
    background-image: url('../Images/Predio.jpg');
    background-size: cover;
    border-radius: 8vw 0px 0px 8vw;
    display: grid;
}
.asideExbDecoration i{
    width: 30vh;
    height: 30vh;
    background-image: url('../Images/Icone.svg');
    background-size: contain;
    margin: auto auto 0vh auto;
    display: block;
}
.asideExbDecoration p{
    color: white;
    margin-top: auto;
    text-align: center;
    text-shadow: 0px 0px 15px black;
}